.projects a:link {
    text-decoration: none;
}
.box {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

.project-card {
    background-color: #363D44;
    box-sizing: border-box;
    flex: 0; height: 100%;
    min-width: 33.333%;
    position: relative;
}
.project-wrap {
    transition: opacity 1s ease;
    opacity: 1;
    position: relative;
    top: 0;
}
.project-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 22px;
    text-align: right;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
}
.project-image {
    opacity: 1;
    position: relative;
    overflow: hidden;
    /* background-image: url('https://pro2-bar-s3-cdn-cf1.myportfolio.com/cf5f163ea3f64475587708dbe4851c46/2655c8a8a528ac97c183d14fc178d01c6f147aea9934eea0c3d239a983e0988c14dbc8fb5a080c22_rwc_642x173x822x643x822.jpg?h=3a1fcacb68f1927e3d6ac67008101b0a&url=aHR0cHM6Ly9taXItczMtY2RuLWNmLmJlaGFuY2UubmV0L3Byb2plY3RzL29yaWdpbmFsLzExYjE5NzMxMDIzOTQ1LlkzSnZjQ3czT1Rnc05qSTBMRFkyTnl3eE56RS5qcGc='); */
}
.project-image:before {
    content: '';
    display: block;
    width: 100%;
}
.project-image-darken {
    opacity: .5;
}
.project-info.is-on-mobile {
    display: block !important;
    opacity: 1;
}
.fa-spinner:before {
    color: white;
}
.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    width: 100%;
    height: 225px;

    box-shadow: inset 0px 0px 100px rgba(0,0,0,0.6);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* x-small */
@media screen and (max-width: 480px) {
    .project-card {
        flex-basis: 100%;
        max-width: 100%;
        /* background-color: green; */
    }
   /* .project-info { Changing this to isTouchDevice */
        /* display: block !important;
        opacity: 1;
    } */
    /* .project-image {
        opacity: .5;
    } */
}

/* small */
@media screen and (min-width: 500px) and (max-width: 768px){
    .project-card {/* Two cols */
        /* background-color: lightslategray; */
        flex-basis: 50%;
        max-width: 50%;
    }
}

/* medium */
  /* @media screen and (min-width: 768px) and (max-width: 960px) {
    .project-card {
       
        background: orange;
        width: 25%;
        height: auto;
    }
} */

/* max */
 @media screen and (min-width: 768px) and (max-width: 1080px) {
    .project-card {/* Three cols */
        max-width: 33.333%;
        
    }
} 