<section class="project-card-wrap box">
  <div *ngFor="let project of projects; index as i;" class="project-card" (click)="selectProject(i)" (mouseenter)="overProject($event)" (mouseleave)="outProject($event)">
    <div class="project-image">
        <!-- <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span> -->
      <div [ngClass]="_isTouchDevice?'bg-image cover project-image-darken':'bg-image cover'" [style.background-image]="'url('+ imageDir + project.images[0] + ')'">
      </div>
    </div>
    <!-- <div class="project-info unselectable"> -->
        <div [ngClass] = "_isTouchDevice?'project-info is-on-mobile':'project-info'" class="unselectable">
      <div><span style="font-weight:900; font-size:1.2em;">{{ project.name }}</span></div>
      <!-- <img src="{{project.imageURL}}"/> -->
      <div> {{ project.role }} </div>
      <div> {{ project.type }} </div>
    </div>
  </div>
</section>

<!-- <router-outlet></router-outlet> -->