.page-title {
    font-size: 1.1em;
    padding: 15px 0;
    text-align: center;
}
.page-title a {
    color: lightslategray;
    text-decoration: none;
}

/* .page-title a.active {
    position: relative;
    left: -2px;
    color:darkslategray;
    border-left: lightsteelblue solid 2px;
} */
.page-title a.active {
    color: white;
}
.mobile-menu-container {
    display:block;
    background-color: #414141;
    position: absolute;
    width: 125px;
    /* top: 50px; */
    /* right: 0; */
    /* min-width: 75%; */
    /* max-width: 75%; */
    /* height: 100%; */
    min-height: 100%;
    z-index: 999;
    right: 15px;
}
.section {
    padding: 15px;
    color: white;
}
.social-icons {
    font-size: 1.6em;
    position: relative;
    text-align: center;
}
.social div {
    display: inline-block;
    padding: 15px;
    margin: auto;
    text-align: center;
}
.social div a {
    color: white;
    text-decoration: none;
}
.header-area {
    padding: 15px;
    text-align: right;
    float:right;
    color: white;
    font-size: 1.25em;
    font-weight: 100;
}
.mm-shadow {
    -moz-box-shadow: -5px 0px 25px 100% rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: -5px 0px 25px 100% rgba(68, 68, 68, 0.6);
    box-shadow: -5px 0px 25px 100% rgba(68, 68, 68, 0.6);
}
.second-shadow {
    -moz-box-shadow: -5px 0px 25px 0px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: -5px 0px 25px 0px  rgba(68, 68, 68, 0.6);
    box-shadow: -5px 0px 25px 0px rgba(68, 68, 68, 0.6);  
}

.clear {
    clear: both;
}