<div class="mobile-menu-container second-shadow">
  <div class="mobile-wrapper">
    <div class="header-area">
      <div #menuclose class="close-btn" (click)="closeMenu($event)">
        <i class="fa fa-arrow-right"></i>
      </div>
    </div>
    <div class="section top-section clear">
      <!-- // This will contain the navigation links and title -->
      <div class="page-title">
        <a #removemenu routerLink="/projects" routerLinkActive="active" (click)="closeMenu($event)">PROJECTS</a>
      </div>
      <div class="page-title">
        <a #removemenu routerLink="/about" routerLinkActive="active" (click)="closeMenu($event)">MY STORY</a>
      </div>
      <div class="page-title">
        <a #removemenu routerLink="/contact" routerLinkActive="active" (click)="closeMenu($event)">CONTACT</a>
      </div>
    </div>
    <div class="section bottom-section">
      <hr/>
      <!-- // this will contain social media links and other contact info -->
      <div class="social social-icons">
        <div>
          <a href="https://bitbucket.org/mShannon25/" target="_blank">
            <i class="fa fa-bitbucket"></i>
          </a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/mattkshannon/" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com/MatthewKShannon" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
        <div>
          <a href="mailto:matt@SigleMaltLLC.com?Subject=Hello%20again" target="_top">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>