<header #top>
  <div class="site-header-wrap">
    <div class="logo-wrap title-text">
      <a href="/#/projects">
        <span class="title-font-size">Matt Shannon</span>
        <span class="second-line bold block">FRONT-END DEVELOPER</span>
      </a>
    </div>
    <div class="nav-wrap">
      <menu></menu>
    </div>
  </div>
</header>

<!-- Body -->
<div id="body">
  <router-outlet></router-outlet>
  <!-- <ng-template #mobileMenu></ng-template> -->
</div>

<!-- Footer -->
<div id="footer">&copy; 2018 Matt Shannon.</div>
<div [ngClass]="darkenBg"></div>