#body {
    max-width: 1080px;    
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
p {
    font-family: Lato;
}
menu {
    display: inline-block;
    -webkit-margin-before: 0;
}
.site-header-wrap {
    position: relative;
    min-height: 50px;
    padding: 15px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto
}
.logo-wrap {
    float: left;
    width: 30%;
    vertical-align: middle;
}
.nav-wrap {
    float: right;
    width: 70%;
    text-align: right;
}

.title-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.title-text a { 
    text-decoration: none;
    color: darkslategray;
}
span.title-font-size {
    padding:0;
}
.title-text .bold {
    font-weight: 600;
}
.title-text .block {
    display: block;
}
.title-text .title-font-size {
    font-size: 30px;
}
.title-text .second-line {
    color: #4582b5;
    letter-spacing: .02em;
}

.background-darken {
    background-color: black;
    opacity: .5;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;

}

/* x-small */
@media screen and (max-width: 480px) {
    .logo-wrap {
        width: 70%;
    }
    .nav-wrap {
        width: 30%;
    }
}

/* small */
@media screen and (min-width: 480px) and (max-width: 768px){
    .logo-wrap {
        width: 50%;
    }
    .nav-wrap {
        width: 50%;
    }
}


/* max */
 @media screen and (min-width: 768px) and (max-width: 1080px) {
    .logo-wrap {
        width: 30%;
    }
    .nav-wrap {
        width: 70%;
    }
} 