<div class="project">
    <div class="project-detail col-container">
        <div class="col col1">
            <h1><img src="{{icon}}" style="width: 52px;padding-right:5px;"/></h1>
            <div>type: </div>
            <div>platform: </div>
            <div>tech: </div>
            <div>overview: </div>
        </div>
        <div class="col col2">
            <h1 class="bigger">{{ name }}</h1>
            <div>{{ type }}</div>
            <div>{{ type }}</div>
            <div>{{ type }}</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <h3>{{ images.length }} Total Images</h3>
            
        </div>
    </div>
    <div *ngFor="let image of images;">
        <!-- <h4>{{url+image}}</h4> -->
        <img src="{{url+image}}" style="max-width: 100%;"/>
    </div>
    <button type="button" class="btn btn-default btn-sm" (click)="test()">Back</button>
</div>