.project {
    /* padding: 10px; */
}
.title {
    max-width: 800px;
}
.project-detail {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.project-detail p {
    text-justify: distribute-all-lines;
}

.col-container {
    display: flex;
    width: 100%;
}
.col h1 {
    white-space:nowrap;
    max-height: 58px;
}
.col div, .col p {
    padding: 5px 5px;
    margin: 0;
    line-height: 1.4em;
}

.col1 {
    width:25%;
    text-align: right;
    color: #949ea8;
    font-weight: 300;
}
.col2 {
    width:75%;
    padding-right:15px;
}