/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    max-width: 100%;
    height: 100%;
    overflow: auto;
}
body {
    font-family: Lato, sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}
.stopScroll {
    /* overflow: hidden; */
}

.bigger {
    font-size:2.5em;
}