.nav-wrap menu {
    margin: 0 0 !important;
}
div {
    /* margin-right: 1.5em; */
    text-align: left;
    min-width: 100px;
}
div a {
    text-decoration: none;
    padding: 0 5px;
}
div.mobile-nav {
    padding:5px;
    display: none;
}

.page-title a:link, a:visited {
    font-size: 14px;
    font-weight: 600;
    color: slategray;
}
.page-title a.active {
    position: relative;
    left: -2px;
    color:darkslategray;
    border-left: lightsteelblue solid 2px;
}
.page-title a:hover {
    color:darkslategray;
}

/* x-small */
@media screen and (max-width: 480px) {
    div {
        text-align: right !important;
        min-width: 0;
    }
    div.main-nav {
        display: none;
    }
    div.mobile-nav {
        display: inline-block;
    }
}

/* small */
@media screen and (min-width: 480px) and (max-width: 768px){
    .mobile-nav {
        display: none;
    }
    .main-nav {
        display: inline-block;
    }
}


/* max */
 @media screen and (min-width: 768px) and (max-width: 1080px) {
    .mobile-nav {
        display: none;
    }
    .main-nav {
        display: inline-block;
    }
} 