<!-- <mat-menu #appMenu="matMenu" yPosition="above">
    <button mat-menu-item>ABOUT</button>
    <button mat-menu-item>PROJECTS</button>
    <button mat-menu-item>CONTACT</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
</button> -->

<div class="main-nav">
    <div class="page-title">
        <a routerLink="/projects" routerLinkActive="active">PROJECTS</a>
    </div>
    <div class="page-title">
        <a routerLink="/about" routerLinkActive="active">MY STORY</a>
    </div>
    <div class="page-title">
        <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
    </div>
</div>
<mobile-menu #mobileMenuView [@toggleMenu]="state" (closeClick)="closeMobileMenu($event)" (@toggleMenu.done)="animationFinished($event)" (@toggleMenu.start)="animationStarted($event)" [ngStyle]='mobileNavStyles'></mobile-menu>
<div class="mobile-nav" (click)="openMobileMenu()">
    <i class="fa fa-bars 2x" aria-hidden="true"></i>
</div>
<!-- 
<div class="main-nav">
        <div class="page-title">
            <a routerLink="/projects" routerLinkActive="active">PROJECTS</a>
        </div>
        <div class="page-title">
            <a routerLink="/about" routerLinkActive="active">MY STORY</a>
        </div>
        <div class="page-title">
            <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </div>
    </div>
    <mobile-menu #mobileMenuView (closeClick)="closeMobileMenu()" [@toggleMenu]="state" [ngStyle]='mobileNavStyles'></mobile-menu>
    <div class="mobile-nav" (click)="openMobileMenu()">
        <i class="fa fa-bars 2x" aria-hidden="true"></i>
    </div> -->